/* parent selector */
div{
    background-color: aqua;
}
/* child selector */
div>p{
    background-color: bisque;
}
/* grand child / decendent child */
div p{
    background-color: rgb(194, 136, 49);
}
/* adjacent sibling selector */
div+p{
    background-color: blue;
}
/* general sibling selector */
div~p{
    background-color: blueviolet;
}
