.container{
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/landing\ img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    place-content: center center;
    background-color: aquamarine;
    background-blend-mode:normal;
    /* element{
    background: [background-colour] [background-image] [background-attachment] [background-repeat] [background-position] [background-] } */
}
h1{
    color: white;
    font-size: 4rem;
    text-align: right;
}
p{
    color: white;

}